<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shopify.mapper.BoardMapper">
	
	<!-- 
         seller > board > 리스트 검색 퀴리(Q&A)
    -->
    <sql id="searchBoardQna">
        <if test="idx != null and idx != 0">
			AND idx = #{idx}
		</if>
		<if test="searchWord != null and searchWord != '' ">
			AND title LIKE '%' #{searchWord} '%'
		</if>
        <if test='searchType != null and searchType != "" '>
        	<if test="searchType != 'D020000'">
        		AND part =  #{searchType}
        	</if>
		</if>
    </sql>
    
    
    <!-- 
         seller > board > 리스트 검색 퀴리(FAQ)
    -->
    <sql id="searchBoardFaq">
        <if test="idx != null and idx != 0">
			AND idx = #{idx}
		</if>
        <if test='searchType != null and searchType !="" and searchType != "D020000" '>
			AND part =  #{searchType}
		</if>
		<if test="searchWord != null and searchWord != '' ">
			AND content LIKE '%' #{searchWord} '%'
		</if>
    </sql>
	
	<select id="selectAllQna"  parameterType="com.shopify.board.BoardData" resultType="com.shopify.board.BoardData">
        SELECT
	         idx
	        ,ref_idx AS refIdx 
		    ,seq
		    ,division
		    ,FN_LOCALE_MESSAGE('D020000',part ,#{locale}) AS partName
		    ,part AS partCode
		    ,title
		    ,writer
		    ,content AS content
		    ,if(answer is null,'',answer) AS answer
		    ,DATE_FORMAT(reg_date, '%Y-%m-%d') AS regDate
		    ,IF(answer IS NULL, FN_LOCALE_MESSAGE('D030000','D030010' ,#{locale}),FN_LOCALE_MESSAGE('D030000','D030030' ,#{locale})) AS status
		    ,DATE_FORMAT(ans_date, '%Y-%m-%d') AS ansDate
		    ,IF(up_writer IS NULL , '' , up_writer) AS upWriter
        FROM tb_board
		WHERE division = #{division}
		  AND writer = #{writer}
		<include refid="searchBoardQna"></include>
		ORDER BY reg_date DESC
		<if test="currentPage != 0">
            <if test="startRow neq totalPageNum"> 
            LIMIT #{startRow}, #{pageSize}
            </if>
        </if>
		
    </select>
    
    <select id="selectAllQnaCount" parameterType="com.shopify.board.BoardData" resultType="int" >
		SELECT count(*) AS adminCount 
		  FROM tb_board 
		 WHERE division = #{division} 
		   AND writer = #{writer}
		<include refid="searchBoardQna"></include>
	</select>
    
    <select id="showQna"  parameterType="com.shopify.board.BoardData" resultType="com.shopify.board.BoardData">
        SELECT
	         idx
	        ,ref_idx AS refIdx 
		    ,seq
		    ,division
		    ,FN_LOCALE_MESSAGE('D020000',part ,#{locale}) AS partName
		    ,part AS partCode
		    ,title
		    ,writer
		    ,content AS content
		    ,if(answer is null,'',answer) AS answer
		    ,DATE_FORMAT(reg_date, '%Y-%m-%d') AS regDate
		    ,IF(answer IS NULL, FN_LOCALE_MESSAGE('D030000','D030010' ,#{locale}),FN_LOCALE_MESSAGE('D030000','D030030' ,#{locale})) AS status
		    ,DATE_FORMAT(ans_date, '%Y-%m-%d') AS ansDate
		    ,IF(up_writer IS NULL , '' , up_writer) AS upWriter
        FROM tb_board
		WHERE 1=1
		<if test="division != null and division !='' ">
			AND division = #{division}
		</if>
		<if test="idx != null and idx != 0">
			AND idx = #{idx}
		</if>
    </select>
    
    <select id="selectAllFaq"  parameterType="com.shopify.board.BoardData" resultType="com.shopify.board.BoardData">
        SELECT
	         idx
	        ,ref_idx AS refIdx
		    ,seq
		    ,division
		    ,FN_LOCALE_MESSAGE('D020000',part ,#{locale}) AS partName
		    ,part AS partCode
		    ,title
		    ,writer
		    ,IF(content IS NULL,'',content) AS content
		    ,IF(answer IS NULL,'',answer) AS answer
		    ,DATE_FORMAT(reg_date, '%Y-%m-%d') AS regDate
        FROM tb_board
		WHERE 1 = 1
		  AND division = #{division}
		  <include refid="searchBoardFaq"></include>
		  ORDER BY reg_date DESC
		<if test="currentPage != 0">
            <if test="startRow neq totalPageNum"> 
	            LIMIT #{startRow}, #{pageSize}
        	</if>
        </if>
    </select>
    
    <select id="selectAllFaqCount" parameterType="com.shopify.board.BoardData" resultType="int" >
		SELECT count(*) AS adminCount 
		  FROM tb_board 
		 WHERE division = #{division}
		<include refid="searchBoardFaq"></include>
	</select>
    
	<insert id="insertQna" parameterType="java.util.Map">
		INSERT INTO tb_board  
							( ref_idx
							, seq
                            , division
                            , part
                            , title
                            , writer
                            , content
                            , reg_date
							)
							VALUES 
						        ( 1 
						        , 1
								,#{division}
								,#{part}
								,#{title}
								,#{writer}
								,#{content}
								,NOW()
						        )
	</insert>
	
	<delete id="deleteBoard" parameterType="java.util.Map">
		DELETE FROM tb_board WHERE idx = #{idx}  
	</delete>
   
</mapper>
