<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shopify.mapper.MonitorMapper">

    <select id="selectExceptionList" parameterType="hashmap" resultType="com.shopify.admin.monitor.ExceptionLine">
		SELECT 
		    id
		    , inst_name
		    , file_name
		    , line_no
		    , date_line
		    , type
		    , class_name
		    , content
		FROM ex_exception_line
		WHERE inst_name IN 
		<foreach collection="instNames" item="arr" open="(" close=")" separator=",">
            #{arr}
		</foreach>
		<![CDATA[ 
		AND ( ( date_line = #{dateLine} AND id > #{id} ) OR date_line > #{dateLine} )
		ORDER BY date_line, id
		]]>
    </select>
    
  
    <select id="selectLastExceptionList" parameterType="hashmap" resultType="com.shopify.admin.monitor.ExceptionLine">
	    SELECT *
		FROM (
			SELECT 
			    id
			    , inst_name
			    , file_name
			    , line_no
			    , date_line
			    , type
			    , class_name
			    , content
			FROM ex_exception_line
			WHERE inst_name IN 
			<foreach collection="instNames" item="arr" open="(" close=")" separator=",">
	            #{arr}
			</foreach>
	        <![CDATA[ 
			ORDER BY date_line desc, id desc
		    LIMIT 5
		) t
		ORDER BY date_line, id
       ]]>
    </select>
    
    
  
    
  
  
</mapper>
