<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shopify.mapper.RestMapper">
	<insert id="insertRestApiData" parameterType="com.shopify.common.RestApiData">
		INSERT INTO tb_rest_shopify  (
			url
			,method
			,request_headers
			,request_body
            ,status
            ,response_headers
            ,response_body
            ,exception_message
		) VALUES (
			#{url}
			,#{method}
			,#{requestHeaders}
			,#{requestBody}
            ,#{status}
            ,#{responseHeaders}
            ,#{responseBody}
            ,#{exceptionMessage}
		)
<!-- 		<selectKey keyProperty="id" resultType="int"> -->
<!-- 		    SELECT LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
		
	</insert>
    
    <update id="updateRestApiData" parameterType="com.shopify.common.RestApiData">
        UPDATE SET  tb_rest_shopify  (
            status = #{status}
            ,response_headers = #{response_headers}
            ,response_body = #{response_body}
        WHERE id = #{id}
    </update>
    
    
    <insert id="insertCronJobData" parameterType="com.shopify.schedule.CronJobData">
        INSERT INTO tb_cron_job  (
            job
            , task
            , status
            , content
        ) VALUES (
            #{job}
            , #{task}
            , #{status}
            , #{content}
        )
    </insert>
    
</mapper>
